<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saivarun Jamalpoor - Blog</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
    <div class="menu-toggle">&#9776;</div>
    <div>saivarun's blog</div>
    <nav>
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/blog.html' | relative_url }}">Blog</a>
        <a href="{{ '/about.html' | relative_url }}">About</a>
        <a href="{{ '/contact.html' | relative_url }}">Contact</a>
        <a href="{{ '#projects' | relative_url }}">Projects</a>
    </nav>
</header>
    <main>
        <h1>Blog Posts</h1>
        <ul class="post-list">
            {% for post in site.posts %}
            <li>
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <p class="post-meta">{{ post.date | date_to_string }}</p>
                <p>{{ post.excerpt }}</p>
            </li>
            {% endfor %}
        </ul>
    </main>
    {% include footer.html %}
</body>
</html>
